@import url(_variables.scss);
@import url(_mixin.scss);
@import url('https://fonts.cdnfonts.com/css/gotham-pro');

body {
    font-family: 'Gotham Pro', sans-serif !important;
}
.kellerFooter {
    background-color: #000;
    color: #fff;
    
}